
.inter-flower-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*Shared styles*/
.text-1{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.6);
}
.btn-primary{
    background-color: rgba(229, 84, 115, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    border-radius: 8px;
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
}

/*First section*/
.cover-container,
.deals-container{
    background-color: rgba(229, 84, 115, 0.1);
}

.cover{
    display: flex;
    padding-bottom: 0px;
    padding-top: 50px;
}
.cover-description{
    margin: auto 200px;
}
h3{
    font-size: 80px;
    color:rgba(39, 39, 39, 1);
}

.cover-img{
    margin: auto;
    width: 100%;
    height: 100%;
}

/*Second section*/
.top-tier{
    text-align: center;
    padding-bottom: auto;
    margin-bottom: 130px;
}
h4{
    font-size: 40px;
    color: rgba(39, 39, 39, 1);
    margin-bottom: 40px;
    margin-top: 178px;
}
 .background-color-one{
    background-color: rgba(229, 84, 115, 0.1); 
    border-radius: 500px 500px 0px 0px;
    width: 464px;
    height: 538px;
 }
 .background-color-two{
    background-color: rgba(5, 151, 160, 0.15); 
    border-radius: 500px 500px 0px 0px;
    width: 464px;
    height: 538px;
 }
 .background-color-three{
    background-color: rgba(71, 125, 17, 0.15); 
    border-radius: 500px 500px 0px 0px;
    width: 464px;
    height: 538px;
 }
 .underline{
    font-size: 24px;
    font-weight: bold;
    color: rgba(39, 39, 39, 1);
    margin-top: 32px;
 }
 .top-container{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
 }
 .image-one{
    width: 310px;
    height: 428px;
    padding-top: 110px;
    padding-left: 76px;
    padding-right: 78px;
 }
 .image-two{
    width: 370px;
    height: 370px;
    padding-top: 117px;
    padding-bottom: 51px;
    padding-left: 47px;
    padding-right: 47px;
 }
 .image-three{
    width: 314px;
    height: 471px;
    padding-top: 67px;
    padding-right: 75px;
    padding-left: 75px;
 }

/* Third section*/
.benefits-container{
    background-color: rgba(39, 39, 39, 0.05);
    margin-left: 210px;
    margin-right: 210px;
    align-items: center;
    margin-bottom: 130px;
}
.benefits{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 95px 175px 100px 175px;
}

/*Fourth section*/
.deal{
    display: flex;
    justify-content: space-around;
    padding: 100px 200px 100px 200px;
}
.deals-description{
    text-align: center;
    gap: 10px;
}
span{
    color: rgba(229, 84, 115, 1) ;
}



 @media screen and (max-width: 576px) {
    .cover,
    .top-container,
    .benefits
    {
        margin: auto auto;
        flex-direction: column;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
    }
    .benefits-container{
     margin-left: 0px;
     margin-right: 0px;
     align-items: center;
    }
    .benefits{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
    }
    .cover-container{
        width: 100%;
        height: 100%;
    }
    h3{
        font-size: 40px;
    }
    .text-1{
        font-size: 14px;
    }
    .cover-description{
        margin: 0px;
        display: 100%;
    }
    .cover-img{
        display: auto;
        margin: 0px;
        padding: 0px;
    }
    .image-one,
    .image-three{
        display: auto;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: auto;
        padding-bottom: 0px;
        margin: 0px;
    }
    .image-two{
        display: auto;
        padding-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
    }
    .background-color-one,
    .background-color-two,
    .background-color-three{
        margin: 0px;
       width: 100%;
        height: 100%;
    }
    .underline{
        margin-bottom: 20px;
    }
    .box-1{
        margin: 0px;
        margin-bottom: 10px;
    }
}