
.inter-flower-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*Shared styles*/
.text-1{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.6);
}
.btn-primary{
    background-color: rgba(229, 84, 115, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    border-radius: 8px;
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
}

/*First section*/
.cover-container{
    background-color: rgba(229, 84, 115, 0.1);
}

.cover{
    display: flex;
    padding-bottom: 0px;
    padding-top: 50px;
}
.cover-description{
    margin: auto 200px;
}
h3{
    font-size: 80px;
    color:rgba(39, 39, 39, 1);
}

.cover-img{
    margin: auto;
    width: 100%;
    height: 100%;
}

/*Second section*/
.top-tier{
    text-align: center;
    padding-bottom: auto;
    margin-bottom: 130px;
}
h4{
    font-size: 40px;
    color: rgba(39, 39, 39, 1);
    margin-bottom: 24px;
    margin-top: 30px;
}
 .background-color-one{
    background-color: rgba(229, 84, 115, 0.1); 
    border-radius: 500px 500px 0px 0px;
    width: 464px;
    height: 538px;
 }
 .background-color-two{
    background-color: rgba(5, 151, 160, 0.15); 
    border-radius: 500px 500px 0px 0px;
    width: 464px;
    height: 538px;
 }
 .background-color-three{
    background-color: rgba(71, 125, 17, 0.15); 
    border-radius: 500px 500px 0px 0px;
    width: 464px;
    height: 538px;
 }
 .underline{
    font-size: 24px;
    font-weight: bold;
    color: rgba(39, 39, 39, 1);
    margin-top: 32px;
 }
 .top-container{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
 }
 .image-one{
    width: 310px;
    height: 428px;
    padding-top: 110px;
    padding-left: 76px;
    padding-right: 78px;
 }
 .image-two{
    width: 370px;
    height: 370px;
    padding-top: 117px;
    padding-bottom: 51px;
    padding-left: 47px;
    padding-right: 47px;
 }
 .image-three{
    width: 314px;
    height: 471px;
    padding-top: 67px;
    padding-right: 75px;
    padding-left: 75px;
 }

/* Third section*/
.benefits-container{
    background-color: rgba(39, 39, 39, 0.05);
    margin-left: 210px;
    margin-right: 210px;
    align-items: center;
    margin-bottom: 130px;
}
.benefits{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 95px 175px 100px 175px;
}
.images{
    text-align: center;
}

/*Fourth section*/
.deals-container{
    background-color: rgba(229, 84, 115, 0.05);
}
.deal{
    display: flex;
    justify-content: space-around;
    padding: 100px 200px 100px 200px;
}
.deals-description{
    text-align: center;
    gap: 10px;
}
span{
    color: rgba(229, 84, 115, 1) ;
}

/*Fifth section*/
.showcase-container{
    text-align: center;
    .text-1{
        margin-bottom: 48px;
    }
}
.showcase{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
}

/*Sixth section*/
.contact-container{
    text-align: center;
    background-image: url('./Rectangle\ 9.png') ;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px 200px 80px 200px;
    padding-top: 90px;
    padding-bottom: 100px;
}
.contact{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.input{
    border: none;
    width: 600px;
    height: 60px;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 20px;
}
/*last section*/
.last-last{
    padding-top: 130px;
    padding-bottom: 130px;
}
.last-container{
    text-align: center;
    background-color: rgba(17, 16, 16, 0.964);

}
.last-heading{
    font-size: 48px;
    color: white;
}
.text-2{
    color: white;
    padding-bottom: 30px;

}
.text-3{
    color: grey;
}


/*Media query*/
 @media screen and (max-width: 576px) {
    .cover,
    .top-container,
    .benefits
    {
        margin: auto auto;
        flex-direction: column;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
    }
    .last-last{
padding-top: 30px;
padding-bottom: 50px;
    }
    .last-heading{
        font-size: 35px;
    }
    .text-2{
        font-size: 15px;
    }
    .text-3{
        font-size: 12px;
    }
    .contact{
        flex-direction: column;

    }
    .contact-container{
        background-image: url('./Assets/rec-9.png');
        background-repeat: no-repeat;
        margin: 30px 0px 50px 0px;
        padding: 50px 0px 60px 0px;
    }
    .input{
        width: calc(100% - 40px);
    }
    .showcase{
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        gap: 10px;
    }
    .deals-container{
        padding: 0px 0px 0px 0px;
    }
    .deal{
        flex-direction: column;
        padding: 0px 0px 0px 0px;
    }
    .deals-description{
        margin-top: -90px;
        padding-top: 0px;
        padding-bottom: 30px;
        margin-bottom: 30px;

    }
    .deals-image{
        padding-top: 50px;
        padding-left: 30px;
    }
    .benefits-container{
     margin-left: 0px;
     margin-right: 0px;
     align-items: center;
    }
    .benefits{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
    }
    .cover-container{
        width: 100%;
        height: 100%;
    }
    h3{
        font-size: 40px;
    }
    .text-1{
        font-size: 14px;
    }
    .cover-description{
        margin: 0px;
        display: 100%;
    }
    .cover-img{
        display: auto;
        margin: 0px;
        padding: 0px;
    }
    .image-one,
    .image-three{
        display: auto;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: auto;
        padding-bottom: 0px;
        margin: 0px;
    }
    .image-two{
        display: auto;
        padding-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
    }
    .background-color-one,
    .background-color-two,
    .background-color-three{
        margin: 0px;
       width: 100%;
        height: 100%;
    }
    .underline{
        margin-bottom: 20px;
    }
    .box-1{
        margin: 0px;
        margin-bottom: 10px;
    }
}


